/* start var */
.active {
  color: var(--main-color);
  background: lime;
  border-bottom: 1px solid var(--main-color) !important;
}

:root {
  --main-color: #19c8fa;
  --transparent-color: rgb(15 116 143 / 70%);
}
/* End var */
/*Start global Rouls*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: white;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: #2a2a2a;
}
ul {
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
/*Small*/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/*Medium*/
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/*Large*/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/*End global Rouls*/
/* start header */

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 97px;
}
header .container::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: grey;
  bottom: 0;
  width: calc(100% - 30px);
  left: 15px;
}
header .logo img {
  height: 40px;
}
header nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header nav .toggle {
  color: white;
  font-size: 22px;
}
@media (min-width: 768px) {
  header nav .toggle {
    display: none;
  }
}
header nav ul {
  display: flex;
}
@media (max-width: 767px) {
  header nav ul {
    display: none;
  }
  header nav .toggle:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgb(0 0 0/50%);
  }
  header nav ul li {
    padding: 15px;
  }
}
header nav ul li {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
  padding: 40px 10px;
  position: relative;
  z-index: 2;
}

header nav ul li a .active,
header nav ul li:hover {
  color: var(--main-color);
  border-bottom: 10px solid var(--main-color);
}
header nav .form {
  height: 30px;
  width: 40px;
  border-left: 1px solid white;
  position: relative;
  margin-left: 30px;
}
header nav .form i {
  color: white;
  font-size: 20px;
  top: 50%;
  position: absolute;
  transform: translatey(-50%);
  right: 0;
}

/* End header */
